body {
  background-color: black;
}

header {
  background-color:  deepskyblue;
  height: 520px;
}

.col-sm4 {
  color: white;
  padding: 15px;
}

.container {
  padding: 50;
}

.jumbotron {
  display: flex;
  align-items: center;
  background-image: url("images/railroad.jpg");
  background-size: cover;
  color: white;
  height: 500px;
}

.jumbotron h2 {
  background-color: darkblue;
  padding: 10px;
  text-align: center;
  width: 370px;
  color: white;
  font-size: 40px;
}

.jumbotron ul {
  background-color:blue;
  text-align: center;
  padding: 10px;
  width: 300px;
  font-size: 20px;
  color: white;
}
