body {
  background-color: black;
}

header {
  background-color:  deepskyblue;
  height: 380px;
}



img {
  padding: 10px;
}

.col-sm4 {
  color: white;
  font-size: 45px;
  padding-left: 15px;
  font-family: 'Lobster Two', cursive;
}

.jumbotron {
  display: flex;
  align-items: center;
  background-image: url("images/railroad.jpg");
  background-size: cover;
  color: white;
  height: 500px;
}

.jumbotron h2 {
  background-color: darkblue;
  padding: 10px;
  text-align: center;
  width: 370px;
  color: white;
  font-size: 40px;
  font-family: 'Lobster Two', cursive;
}

.jumbotron ul {
  background-color:blue;
  text-align: center;
  padding: 10px;
  width: 300px;
  font-size: 20px;
  color: white;
  font-family: 'Lobster Two', cursive;
}

.col-sm-12 {
  color: white;
  font-size:25px;
  font-family: 'Lobster Two', cursive;
  display: inline-flex;
}
